<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='editor_styles.css') }}">
    <title>Editor</title>
  </head>
  <body onload="init();">

    <div data-internalid={{speech.id}} id="speech-id"></div>
    <div data-internalid={{speech.data}} id="speech-data"></div>
    <div data-internalid='{{stringified_data}}' id="stringified-data"></div>

    <div class="sidebar">
      <div class="text-center">
        <a class="active" href="#/">KVCC Speech Writer</a>
      </div>
      <a tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Save Speech" 
      data-content="Your speech is saved automatically but it never hurts to do save your progress as you work."
      id="save-speech-option" href="#/"><i class="bi bi-cloud-arrow-up"></i> Save Speech <span>[Ctrl+S]</span></a><hr>
      <a tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Add Point" 
      data-content="A new point will be added directly underneath the one you select with the title you enter."
      id="add-point-option" href="#/"><i class="bi bi-plus-circle"></i> Add Point <span>[Ctrl+1]</span></a><hr>
      <a  tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Rename Point" 
      data-content="Will change the name of the point you select to what you enter."
      id="rename-point-option" href="#/"><i class="bi bi-pencil-square"></i> Rename Point <span>[Ctrl+2]</span></a><hr>
      <a tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Shift Point Upt" 
      data-content="Will, if possible, move the point a level up."
      id="shift-point-up-option" href="#/"><i class="bi bi-arrow-up-square"></i> Shift Point Up <span>[Ctrl+3]</span></a><hr>
      <a tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Shift Point Down" 
      data-content="Will, if possible, move the point a level down."
      id="shift-point-down-option" href="#/"><i class="bi bi-arrow-down-square"></i> Shift Point Down <span>[Ctrl+4]</span></a><hr>
      <a tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Switch Sections" 
      data-content="Will switch the ENTIRE section that is highlighted after you select a point with the section of the second point you select."
      id="switch-section-option" href="#/"><i class="bi bi-arrow-left-right"></i> Switch Sections <span>[Ctrl+5]</span></a><hr>
      <a tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Cancel Action" 
      data-content="Will cancel any above action (besides save speech) and reset the points."
      id="cancel-action-option" href="#/"><i class="bi bi-x-circle"></i> Cancel Action <span>[ESC]</span></a><hr>
      <a tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Delete Point" 
      data-content="Will permanently delete the selected point, there is no undo or ctrl-z"
      id="delete-point-option" href="#/"><i class="bi bi-trash"></i> Delete Point</a><hr>
      <a tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Download Word Doc" 
      data-content="Will download your speech in word document form."
      id="export-speech-option" href="/export-speech"><i class="bi bi-file-earmark-arrow-down"></i> Download Word Document</a><hr>
      <a tabindex="0" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Site Info" 
      data-content="Will redirect you to the site info / tutorial page."
      id="site-info-option" href="/site-info"><i class="bi bi-question-circle"></i> Site Info / Tutorial</a><hr>
    </div>

    <div class="content">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav mx-auto">
            <a class="navbar-brand" href="#">{{ speech.title }}</a>
          </div>
          <div class="navbar-nav ml-auto mr-5">
            <a class="nav-item nav-link" id="home" href="{{url_for('views.home')}}">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          </div>
        </div>
      </nav>

      <div id="points-container" class="container">
        <!--points will be generated here-->
      </div>

      <br><br><br><br><br>

    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous">
    </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='editor.js') }}"
    ></script>
  </body>
</html>