{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container">
  <form method="POST">
    <br>
    <h3 align="center">Generate New Password</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <p style="color:red;">As of right now there is a high chance the recovery email will be sent to your spam folder</p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}