{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <br>
  <h1 align="center">My Speeches</h1>
  <br>
  <ul class="list-group list-group-flush" id="speeches">
    {% for speech in user.speeches %}
    <li class="list-group-item">
      <div class="input-group">
        <div class="input-group-prepend">
          <a class="btn-link" onclick="loadSpeech(document.getElementById('{{speech.id}}').id)" style="cursor: pointer;margin:auto;color:blue;text-decoration:underline;">{{ speech.title }}</a>
        </div>
        <input type="text" disabled class="form-control" style="background-color: white; border: 0; margin: 0 5px;" readonly>
        <div class="input-group-append">
          <button class="btn btn-success" onclick="updateTitle(document.getElementById('{{speech.id}}').id)" style="border-radius:5px; margin: 0 15px">
            <i class="bi bi-pencil-square"></i> Edit Title
          </button>
        </div>
        <div class="input-group-append">
          <button type="button" id="{{speech.id}}" class="close" onclick="deleteSpeech(document.getElementById('{{speech.id}}').id)">
            <span aria-hidden="true"><i class="bi bi-trash"></i> </span>
          </button>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <br>
  <form method="POST">
    <div class="input-group">
      <input name="title" id="title" type="text" class="form-control" placeholder="Enter Name of New Speech">
    </div>
    <br>
    <div align="center">
      <button type="submit" class="btn btn-primary">Create New Speech</button>
    </div>
  </form>
</div>
{% endblock %}